@import url();

body {
    background-image: url(https://imgs.search.brave.com/94Q5moR6us1aJBdG21L6ULv3UzXSaIJ7uCHUGdHVQbM/rs:fit:860:0:0:0/g:ce/aHR0cHM6Ly93YWxs/cGFwZXJjYXZlLmNv/bS93cC93cDMxOTkx/MzUuanBn);
    background-size: 1920px;
    color: white;
}

a {
    transition-duration: 0.4s;
    color: gray;
    font-size: x-large;
    font-family: Fredoka;
    text-decoration: none;
    border-radius: 10px;
    border-width: 3px;
    border-right-width: 20px;
    border-left-width: 20px;
    border: rgb(36, 36, 36) solid 2px;
    background-color: rgb(36, 36, 36);
}

a:hover{
    font-size: xx-large;
    color: white;
    border: rgb(32, 32, 32) solid 2px;
    border-radius: 5px;
    border-width: 3px;
    border-right-width: 5px;
    border-left-width: 5px;
}

h1 {
    font-family: Fredoka;
}

