@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap');

body {
    background-image:url(WebBackground.png);
    background-size: auto;
    color: white;
}

a {
    transition-duration: 0.4s;
    color: gray;
    font-size: x-large;
    font-family: Fredoka;
    text-decoration: none;
    border-radius: 10px;
    border-width: 3px;
    border-right-width: 20px;
    border-left-width: 20px;
    border: rgb(31, 31, 31) solid 2px;
    background-color: rgb(36, 36, 36);
}

a:hover{
    font-size: xx-large;
    color: white;
    border: rgb(97, 97, 97) solid 2px;
    border-radius: 5px;
    border-width: 3px;
    border-right-width: 5px;
    border-left-width: 5px;
}

h1 {
    font-family: Fredoka;
}

